<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Android 13+ (API 33+) permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCRUD"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:targetApi="31">
        <activity
            android:name=".views.sqlite.ui.activities.FormActivity"
            android:exported="false" />
        <activity
            android:name=".views.sqlite.ui.activities.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".views.setting_permission.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.MyCRUD.Materials.NoActionBar" />
        <activity
            android:name=".views.AppbarCollapse.CollapseActivity"
            android:exported="false"
            android:theme="@style/Theme.MyCRUD.Materials.NoActionBar" />
        <activity
            android:name=".views.payungin.views.dashboard.DashboardPayunginActivity"
            android:exported="false"
            android:theme="@style/Theme.MyCRUD.Materials.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".views.tabbar_case.MainTabActivity"
            android:exported="false" />
        <activity
            android:name=".views.custom_nav_drawer_case.NavDrawerActivity"
            android:exported="false"
            android:theme="@style/Theme.MyCRUD.Materials.NoActionBar" />
        <activity
            android:name=".views.grid_case.GridActivity"
            android:exported="false"
            android:theme="@style/Theme.MyCRUD.Materials.NoActionBar" />
        <activity
            android:name=".views.fragment_case.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".views.payungin.views.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MyCRUD.Materials" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>